  

* {
  box-sizing: border-box;
}


body {
  background: #224941 url('./img/LightBg.jpg') no-repeat center center/cover;
  color: rgb(255, 255, 255);
  /* background-color: rgb(255, 255, 255) ; */

  font-family: 'Julius Sans One', sans-serif;
  /* font-family: 'Quicksand', sans-serif; */
  /* font-family: 'Bellota', cursive; */
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0;
}

.NavFull{
  margin: 0% 2%;
  display: none;
  position: absolute;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    
    height: 70%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.NavFull ul{
  
  padding: 0;
}
.NavFull ul li{
  width: 160px;
  list-style: none;
  /* border: 1px solid rgb(192, 35, 35); */
  border-radius: 0px;
  padding: 1%;
  margin: 15% 1%;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}
.NavFull ul li a{
  font-size: 1.2rem;
  font-weight: 700;
  background-color: rgba(162, 154, 154, 0.2);
  border-radius: 5px;
  padding: 5%;
  width: 100%;
  color: #fff;
  
}
.NavLinkText{
  color: #000000;
}
.toggleMenuBtn {
  font-family: 'Julius Sans One', sans-serif !important;

background-color: rgba(211, 207, 207, 0.5);
color: #ffffff;
width: 14%;
cursor: pointer;
border: none;
padding: 1% 0%;
margin: 1%;
font-size: 1.1rem;
}

.BackgroundMenu{
  display: none;
  width: 100%;
  justify-content: center;
  margin-bottom: 6%;
  
}


.BackgroundMenu button:hover{
  background-color: rgba(211, 207, 207, 0.5);
color: #fff;
}

.NeutralBg{
  background: #224941 url('./img/LightBg.jpg') no-repeat center center/cover;
  /* background: #ffffff !important; */
}
.NeutralDarkBg{
  background: #224941 url('./img/DarkBgFull.jpg') no-repeat center center/cover;
  /* background: #000000 !important; */

}

.SummerBg{
  background: #224941 url('./img/BeachBg.jpg') no-repeat center center/cover;
}
.MountainBg{
  background: #224941 url('./img/bg7.jpg') no-repeat center center/cover;
}
.ForestBg{
  background: #224941 url('./img/ForestBg.jpg') no-repeat center center/cover;
}
.SpaceBg{
  background: #224941 url('./img/SpaceBg1.jpg') no-repeat center center/cover;

}


.container{
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
    transform: scale(1);
}
.circle-inner{
  
  /* background-color: rgb(57, 43, 26) !important; */
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  
}
.circle {
  background-color: #C9C6C1  ;

    /* background-color: #97D9CC; */
    height: 118%;
    width: 118%;
    /* border: 1px solid rgb(73, 54, 68); */
    border-radius: 50%;
    position: absolute;
      z-index: -1;
  }
  
#text{
  color: #000000;
  font-size: 1.8rem;
}
.gradient-circle{

  background: conic-gradient(#838483 0%, #000000 30%, #ffffff 50%, #ffffff 50%, #000000 70%, #838483 100%);
      height: 360px;
    width: 360px;
    z-index: -2;
    border-radius: 50%;
    position: absolute;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    /* top: -10px;
    left: -10px; */
}

.pointer {
    /* background-color: #b12751; */
    opacity: 0.9;
    border-radius: 50%;
      /* border: 1px solid rgb(0, 0, 0); */
    height: 20px;
    width: 20px;
    display: block;
  }
  
  .pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
  }
  .animationContainer{

   
  }
.cube { 
  
  width: 5em; 
  height: 5em; 
  
  transform-style: preserve-3d; 
  transform: rotateY(30deg) rotateX(5deg); 
} 
.face {
  background-color: transparent;
  border-radius: 50px;
  position: relative; width: 15%; height: 15%; 
}
.face:nth-child(1) { 
  transform: rotateY(0deg) translateZ(2.5em); 
} 
.face:nth-child(2) { 
  transform: rotateY( 90deg) translateZ(2.5em); 
}
.face:nth-child(3) { 
  transform: rotateY(180deg) translateZ(2.5em); 
}
.face:nth-child(4) { 
  transform: rotateY(270deg) translateZ(2.5em); 
}
.cube--ani { animation: rot 4s linear infinite; } 
@keyframes rot { 
  to { 
    transform: rotateY(-330deg) rotateX(370deg); 
  } 
}
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .container.grow {
    animation: grow 3s linear forwards;
    
  }

  @keyframes grow {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.2);
    }
  }
  .circle.shrink{
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  }
  .container.shrink {
    animation: shrink 3s linear forwards;
  }
  
  @keyframes shrink {
    from {
      transform: scale(1.2);
    }
  
    to {
      transform: scale(1);
    }
  }



  @media(max-width: 767px ){

    .container{
      height: 210px;
      width: 210px;
    }
    .gradient-circle{
      height: 260px;
      width: 260px;
    }
    .NavFull{
      position: relative;
    }
   
    .NavFull ul{
   display: inline-flex;
    }
    .NavFull ul li{
      width: 60px;
      margin: 1% 1%;

    }
    .NavFull ul li a {
      font-size: 0.6rem;
      width: 100px;
      text-align: center;
      border-radius: 0px;
    }
   .pointer-container{
    top: -85px;
    left: 100px;
   }
.toggleMenuBtn {
  font-size: 1rem;
  font-weight: 500;
width: 40%;
padding: 1% 0%;
margin:  5% auto;
}

.BackgroundMenu{
  display: none;
  width: 100%;
  justify-content: center;
  margin-bottom: 6%;
  padding: 0% 10% 0% 0%;  
  
}
.BackgroundMenu button{
  margin: 0.5%;
background-color: rgba(211, 207, 207, 0.5);
border: 1px solid #fff;
border-radius: 0px;
padding: 1% 1%;
cursor: pointer;
}

.BackgroundMenu button:hover{
  background-color: rgba(211, 207, 207, 0.5);
color: #fff;
}
  }