  

* {
  box-sizing: border-box;
}

body {
  /* background: #224941 url('./img/bg16.jpg') no-repeat center center/cover; */
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255) ;

  /* font-family: 'Julius Sans One', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Bellota', cursive; */
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container{
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
    transform: scale(1);
}
.circle-inner{
  
  /* background-color: rgb(57, 43, 26) !important; */
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  
}
.circle {
  background-color: #ffffff ;

    /* background-color: #97D9CC; */
    height: 118%;
    width: 118%;
    /* border: 1px solid rgb(73, 54, 68); */
    border-radius: 50%;
    position: absolute;
      z-index: -1;
  }
  
#text{
  color: #205a68;
  font-size: 1.8rem;
}
.gradient-circle{

  background: conic-gradient(
    #55b7a4 0%,
    #4ca493 40%,
    #fff 40%,
    #fff 60%,
    #336d62 60%,
    #2a5b52 100%
  );
      height: 360px;
    width: 360px;
    z-index: -2;
    border-radius: 50%;
    position: absolute;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    /* top: -10px;
    left: -10px; */
}

.pointer {
    /* background-color: #b12751; */
    opacity: 0.9;
    border-radius: 50%;
      /* border: 1px solid rgb(0, 0, 0); */
    height: 20px;
    width: 20px;
    display: block;
  }
  
  .pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
  }
  .animationContainer{

   
  }
.cube { 
  
  width: 5em; 
  height: 5em; 
  
  transform-style: preserve-3d; 
  transform: rotateY(30deg) rotateX(5deg); 
} 
.face {
  background-color: transparent;
  border-radius: 50px;
  position: relative; width: 15%; height: 15%; 
}
.face:nth-child(1) { 
  transform: rotateY(0deg) translateZ(2.5em); 
} 
.face:nth-child(2) { 
  transform: rotateY( 90deg) translateZ(2.5em); 
}
.face:nth-child(3) { 
  transform: rotateY(180deg) translateZ(2.5em); 
}
.face:nth-child(4) { 
  transform: rotateY(270deg) translateZ(2.5em); 
}
.cube--ani { animation: rot 4s linear infinite; } 
@keyframes rot { 
  to { 
    transform: rotateY(-330deg) rotateX(370deg); 
  } 
}
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .container.grow {
    animation: grow 3s linear forwards;
    
  }

  @keyframes grow {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.2);
    }
  }
  .circle.shrink{
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  }
  .container.shrink {
    animation: shrink 3s linear forwards;
  }
  
  @keyframes shrink {
    from {
      transform: scale(1.2);
    }
  
    to {
      transform: scale(1);
    }
  }
